@import "tailwindcss";

/* Hide only the top navbar iframe */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none;
}

body {
  top: 0px !important;
}

.goog-te-gadget-simple {
    border: none !important;
}
.goog-te-gadget-simple img{
    display: none;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed span{
    font-size: 20px;
    border: none !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd{
    display: none;
}

#goog-gt-tt,
#goog-gt-tt:hover {
  display: none !important;
}
.VIpgJd-suEOdc .VIpgJd-yAWNEb-L7lbkb .skiptranslate{
    display: none !important;
}
.landingEntry{
  animation: landingEntryAnim 0.5s ease-in-out forwards;
  opacity: 0;
}
@keyframes landingEntryAnim {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.landingfirst{
  animation: landingfirstAnim 0.5s ease-in-out forwards 1s;
  opacity: 0;
}
.landingsecond{
  animation: landingfirstAnim 0.5s ease-in-out forwards 1.2s;
  opacity: 0;
}
@keyframes landingfirstAnim {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.paySpin {
  animation: spinPay 1s ease-in-out forwards;
}

@keyframes spinPay {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(2) rotate(360deg);
  }
}